.contacts {
  padding: 120px 0 91px;
}

.contacts .container {
  padding: 50px;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 400px 585px;
  justify-content: space-between;
}

.contacts__photo img {
  width: 100%;
}
