.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/bg/main_bg.jpg') 50%/cover no-repeat;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        @include before_circle;
        position: relative;
        padding-left: 10px;
        z-index: 2;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {       
        font-weight: 700;
        font-size: 14px;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}