.skill {
  padding-top: 120px;
}

.skill__title {
  text-align: center;
  @im;
}

.skill__grid {
  grid-template-columns: repeat(4, minmax(270px, auto));
  grid-template-rows: repeat(2, minmax(270px, auto));
  grid-auto-rows: minmax(270px, auto);
}
